@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
    margin: 0;
    height: 100%;
    display: grid;
    background-color: #ffdd40;
    font-family: cursive;
    color: #274dff;
}

img{
    width: 250px;
    height: 100px;
}
/* Main welcome text */
h1 {
    margin-top: -100px;
    letter-spacing: 0.0015em;
    font-size: 5em;
    text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
        -2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
        -4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
        -6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
    text-align: center;
}
p {
    text-align: center;
    font-size: 1.8em;
}

/*  Score Box */
.scores {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.score-card {
    text-align: center;
}

.your-score,
.computer-score {
    font-size: 120px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #3040f1;
    text-shadow:
        8px 8px #2986e9,
        20px 20px white;
}


/* Selection Result */
.text,
.playerResult,
.computerResult {
    text-align: center;
    font-size: 3em;
}

.result {
    display: flex;
    justify-content: center;
    gap: 100px;
}

/* Selection Buttons*/
.buttons {
    display: flex;
    justify-content: center;
    gap: 80px;
}

button {
    width: 150px;
    height: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3030f1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #0f1ebf
}

button:active {
    background-color: #1556cf;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* Popup Alert Box */
dialog{
    height:50%;
    button{
        width: 140px;
        height: 70px;
        font-size: 1.1rem;
        margin: 0;
    }
    h2{
        padding-top: 30px;
    }
}
